# Legacy - for ingestion
AIRTABLE_TABLE_VIEW_SOLIDARITY_ACTIONS=Live
AIRTABLE_TABLE_NAME_SOLIDARITY_ACTIONS=Solidarity Actions
AIRTABLE_BASE_ID=appeAmlnDhmq6QSDi
AIRTABLE_API_KEY=pat...
AIRTABLE_CDN_TABLE_ID=tblimUv6XyFqqxG2p
#
NEXT_PUBLIC_MAPBOX_ACCESS_TOKEN=pk....
CLOUDINARY_NAME=gwsp
CLOUDINARY_API_SECRET=...
CLOUDINARY_API_KEY=...
BASE_URL=https://gameworkersolidarity.com
NEXT_PUBLIC_STORAGE_TYPE=cloudinary
PAYLOAD_PREVIEW_SECRET=asdokasdjsa
PAYLOAD_SECRET=YOUR_SECRET_HERE
DATABASE_URL=mogodb+srv://...
USE_SMTP=true
SMTP_HOST=smtp.protonmail.ch
SMTP_PORT=587
SMTP_USER=hello@gameworkersolidarity.com
SMTP_PASS=?????? # For Proton users, follow this guide: https://proton.me/support/smtp-submission