POSTGRES_URL=postgres://postgres:postgres@localhost:5432/gwsp
PAYLOAD_SECRET=YOUR_SECRET_HERE
AIRTABLE_TABLE_VIEW_SOLIDARITY_ACTIONS=Live
AIRTABLE_TABLE_NAME_SOLIDARITY_ACTIONS=Solidarity Actions
AIRTABLE_BASE_ID=appeAmlnDhmq6QSDi
AIRTABLE_API_KEY=pat...
NEXT_PUBLIC_MAPBOX_ACCESS_TOKEN=pk....
CLOUDINARY_NAME=gwsp
CLOUDINARY_API_SECRET=...
CLOUDINARY_API_KEY=...
BASE_URL=https://gameworkersolidarity.com
AIRTABLE_CDN_TABLE_ID=tblimUv6XyFqqxG2p
REVALIDATE_SECRET_TOKEN=...
STORAGE_TYPE=cloudinary
PAYLOAD_PREVIEW_SECRET=asdokasdjsa