@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply min-h-screen bg-gray-100 max-w-full overflow-x-hidden;
}

@font-face {
  font-family: 'Parabole';
  src: url('/fonts/Parabole-Regular.woff2') format('woff2'),
      url('/fonts/Parabole-Regular.woff') format('woff'),
      url('/fonts/Parabole-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@layer utilities {
  .capitalize-first:first-letter {
    text-transform: uppercase;
  }
}

@layer components {
  .link {
    @apply underline cursor-pointer hover:text-gwPink
  }

  .button {
    @apply cursor-pointer inline-block px-2 py-1 border-2 border-gwPink rounded-md hover:bg-gwPink hover:text-white transition duration-75 mt-2
  }

  .content-wrapper {
    @apply max-w-7xl mx-auto px-4 md:px-7;
  }
}