@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply min-h-screen bg-white max-w-full;
}

@font-face {
  font-family: 'Parabole';
  src: url('/fonts/Parabole-Regular.woff2') format('woff2'),
      url('/fonts/Parabole-Regular.woff') format('woff'),
      url('/fonts/Parabole-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@layer utilities {
  .capitalize-first:first-letter {
    text-transform: uppercase;
  }
}

@layer components {
  .link {
    @apply underline cursor-pointer hover:text-gwPink group-hover:text-gwPink font-semibold
  }

  .button {
    @apply cursor-pointer inline-block px-2 py-1 border-2 border-gwPink rounded-xl hover:bg-gwPink hover:text-white transition duration-75 mt-2
  }

  .content-wrapper {
    @apply max-w-7xl mx-auto px-4 md:px-7;
  }

  .filter-item {
    @apply inline-block mr-2 mb-2;

    &:last-child {
      @apply mr-0 mb-0;
    }
  }

  .listbox-dropdown {
    @apply border-2 border-gray-300 overflow-y-auto rounded-lg rounded-tl-none bg-white absolute z-40 shadow-gwPink;
    margin-top: -2px;
    max-height: 33vh;
    height: 400;
  }
}